@charset ="utf-8";
	.caja .menu nav ul{
		list-style-type:none;
		margin:0px;
		padding: 0px;
		border-left-width: 1px;
		border-left-style:none;
		border-left-color: #eee;
		overflow:hidden;
	}
	.caja .menu nav ul li{
		display: inline;
	}
    .caja .menu nav ul li a{
        font-family: cursive;
        color: white;
	    text-decoration: none;
        font-size: 0.85em;
        display:block;
        float: right;
        padding: 6px;
        border-radius: 12px;
    }
	.caja .menu nav ul li a:hover{
		color: #000;
		background-color: #fff;
	}
	.clear{
		clear: both;
	}
