@charset "utf-8";
/* CSS Document */
body {
    /*background: url(../img/4.jpg);*/
    margin: 0px;
    background-color:white;

}
.caja .login {
    background-color:cadetblue;
	text-align: right;
    padding: 8px;
    color: white;
    font-family:monospace;
    font-size: 1.03em;
    font-weight:bolder;
}
.caja .menu {
    background-color: cadetblue;
	padding: 5px;
	margin-bottom: 5px;
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0,2,0,0.4);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.4);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.caja .contenido {
    width: 52%;
	padding: 5px;
	margin-bottom: 20px;
	height: auto;
	float: left;
    margin-left: 7px;
    background-color: #F5F5F5;
    margin-top: 15px;
    font-weight: 600;
    -webkit-box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
    -moz-box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
    box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
}

.caja .tablaUsers{
   width: 52%;
	padding: 5px;
	margin-bottom: 20px;
	height:12%;
	float: left;
    margin-left: 7px;
    background-color: #F5F5F5;
    margin-top: 15px;
    font-weight: 600;
    -webkit-box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
    -moz-box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
    box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
}

.caja .destacados {
    float: right;
	width: 35%;
	padding: 5px;
	margin-bottom: 20px;
	height: auto;
    margin-right: 7px;
    background-color: #F5F5F5;
    margin-top: 15px;
    font-weight: 600;
    -webkit-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.4);
}
.caja .destacados table{
    margin: auto;
}
.caja .pie {
    clear: both;
	padding: 15px;
    //border-radius: 12px;
    background-color:cadetblue;
}
#titulos {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: cursive;
    color: cadetblue;
    font-size: 0.9em;
}
#pie {
    margin-bottom: 1px;
    margin-top: 1px;
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: 0.9em;
}
#galeria{
    text-align: center;
    color: cadetblue;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: cursive;
    font-size: 1.5em;
}#img{
    border-radius: 100px;
    overflow: hidden;
}
#info{
    color: dimgray;
    text-align:justify;
    font-family: cursive;
    font-size: 0.9em;
}
#titulo1{
    text-align: center;
    color: cadetblue;
    font-size: 1.4em;
    font-family: cursive;
}
#enlace{
    color: dimgray;
    font-family: cursive;
    font-size: 14px;
}

.caja #listaUsuarios{
    margin: auto;
    padding: 5px;
	margin-bottom: 20px;
	height: 19%;
    background-color: #F5F5F5;
    margin-top: 15px;
    font-family: monospace;
    text-align: left;
}

.caja .btn{
    align-self: center;
}

#btn-del{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    font-family: 'Roboto', monospace;
    font-size: 15px;
    font-weight: 600;
    background: #f44336;
    padding: 7px;
    color: #F5F5F5;
    border: 2px solid #F5F5F5;
    border-radius: 5px;
}
#btn-del:hover{
    background: #d32f2f;
    cursor: pointer;
}
#btn-act{
    float: right;
    width: 45%;
    font-family: 'Roboto', monospace;
    font-size: 15px;
    font-weight: 600;
    background: #4CAF50;
    padding: 7px;
    color: #F5F5F5;
    border: 2px solid #F5F5F5;
    border-radius: 5px;
}

#btn-act:hover{
   background: #388E3C
    cursor: pointer;
}

.caja .registro{
    background-color: cadetblue;
    width: 52%;
	padding: 5px;
	margin-bottom: 20px;
	height: auto;
	float: left;
    margin-left: 7px;
    margin-top: 15px;
    font-weight: 600;
    -webkit-box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
    -moz-box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
    box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
}

#btns{
    width: 100%;
}

#tbl{
    margin: auto;
}
.input-95{
    background-color:white;
    border: 1px solid white;
    height: 30px;
    font-family: monospace;
    color: gray;
    width: 200px;
    margin-top: 2px;
    border-radius: 5px;
}

#btn-acep{
    background-color:cadetblue;
    border: 1px solid white;
    height: 35px;
    font-family: monospace;
    color: white;
    border-radius: 5px;
    width: 45%;
    margin: auto;
}

#btn-new{
    background-color:cadetblue;
    border: 1px solid white;
    height: 35px;
    font-family: monospace;
    color: white;
    border-radius: 5px;
    width: 45%;
    float: right;
    margin: auto;
}

#btn-new:hover{
    background-color: white;
    color: cadetblue;
}

#titulo2{
    text-align: center;
    color: white;
    font-size: 1.4em;
    font-family: monospace;
}

#btn-acep:hover{
    background-color: white;
    color: cadetblue;
}
.input-l{
    background-color:white;
    border: 1px solid white;
    width: 170px;
    height: 23px;
    font-family: monospace;
    color: gray;
    margin-top: 2px;
    border-radius: 5px;
}
#btn{
    background-color:cadetblue;
    border: 1px solid white;
    height: 35px;
    font-family: monospace;
    color: white;
    border-radius: 5px;
}

#btn:hover{
   background-color: white;
    color: cadetblue;
}

.actualizar{
    background: url(../img/desc/refresh-button.png) no-repeat center center;
    height: 20px;
    width: 20px;
    border: 0;
    background-size: 20px 20px;
}

.actualizar:hover{
    transform: scale(1.2);
}
#tituList{
    font-size: 1.3em;
}
/*
.caja .mapa{
    height: auto;
	padding: 5px;
	margin-bottom: 20px;
	height: auto;
	float: left;
    margin-left: 7px;
    background-color: #F5F5F5;
    margin-top: 15px;
    font-weight: 600;
    -webkit-box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
    -moz-box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
    box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
}
*/

.mapa {
    clear: both;
    height: 400px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;

}

.registro1{
    background-color: cadetblue;
    color: white;
    font-family: monospace;
    text-align: center;
    width: 52%;
	padding: 5px;
	margin-bottom: 20px;
	height: auto;
	float: left;
    margin-left: 7px;
    margin-top: 15px;
    font-weight: 600;
    -webkit-box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
    -moz-box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
    box-shadow: 0px 4px 10px 2px rgba(0,2,0,0.4);
}
#pie_tabla{
    margin: auto;
    text-align: center;
}


.as{
    margin: auto;
    font-family: monospace;
    width: 52%;
	padding: 5px;
	height:250px;
    background-color: #F5F5F5;

    overflow: scroll;
}

.btnes{
    margin: auto;
    height: auto;
   font-family: monospace;
    width: 90%;
	padding: 5px;
    background-color: #F5F5F5;

}

.tabTituls{
    margin: auto;
    font-family: monospace;
    width: 52%;
	padding: 5px;
    background-color: #F5F5F5;
    //text-align: center;
    font-size: 1.3em;
}
